/* ------------------------------------------ */
/* DEV */
/* ------------------------------------------ */

@mixin dev-background {
  html {
    background: linear-gradient(-10deg, #772953, #e95420);
  }
}

@mixin dev-grid {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 1px;
}

@mixin dev-grid-hover {
  .dev > div:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

/* CALL THE MIXIN */
@include dev-background;
.dev,
.dev > * {
    @include dev-grid;
}

@include dev-grid-hover;


/* ------------------------------------------ */
/* GRID */
/* ------------------------------------------ */

.grid {
  display: flex;
}

.gutters {
  padding: -10px 0 10px -10px;
}

.gutters > .cell {
  padding: 10px 0 0 10px
}

.cell {
  /* Shortcut => flex-grow: 1; flex-shrink: 1; flex-basis: 0% */
  flex: 1;
}

.cell > div {
  padding: 10px;
}




