/* ------------------------------------------ */
/* DEV */
/* ------------------------------------------ */

@mixin dev-background {
  html {
    background: linear-gradient(-10deg, #772953, #e95420);
    height: 100vh;
  }
}

@mixin dev-grid-hover {
  .dev > div:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

/* CALL THE MIXIN */
@include dev-background;
.dev, .dev > * {
  color: #fff;
  border: 1px transparent #fff;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 7px;
  margin: 7px;
}

@include dev-grid-hover;


/* ------------------------------------------ */
/* GRID */
/* ------------------------------------------ */

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 500px;
}

li {
  list-style-type: none;
  flex-basis: 25%;
  margin-right: 25px;
}

p {
  margin: 0;
  padding: 90px;
}
